<mat-card>
  <mat-card-title>{{ formName }} Form</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="$event.preventDefault(); onSubmit(authForm.value); authForm.reset();" #authForm="ngForm">
      <mat-form-field>
        <input matInput type='email' name='email' placeholder='Enter email' ngModel required #email/>
        <mat-error *ngIf="!email.valid">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type='password' name='password' placeholder='Enter password' ngModel required />
        <mat-error *ngIf="!email.valid">
          Password is required.
        </mat-error>
      </mat-form-field>
      <button mat-raised-button type='submit' [disabled]="!authForm.form.valid" color="primary">{{ formName }}</button>
    </form>
  </mat-card-content>
</mat-card>
