<mat-toolbar>
  <mat-form-field class="search-form">
    <input matInput placeholder="Search..." (input)="search($event.target.value)" />
  </mat-form-field>
  <a mat-button *ngIf="isLoggedIn" routerLink="/books/new">Create</a>
</mat-toolbar>

<mat-nav-list>
  <a mat-list-item *ngFor="let book of books | async" [routerLink]="['/books', book.id]"> {{ book.title }} </a>
</mat-nav-list>

<mat-paginator (page)="onPageUpdated($event)" [length]="totalLength" [pageSize]="pageSize" [pageIndex]="currentPage" [pageSizeOptions]="[5, 10]">
</mat-paginator>
