<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">My Blog</a>
  <button
    class="navbar-toggler"
    type="button"
    (click)="isCollapsed = !isCollapsed"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/articles">Articles</a>
      </li>
    </ul>
    <div class="my-2 my-lg-0">
      <div class="btn-group" *ngIf="!(isLoggedIn | async)">
        <a
          class="btn btn-outline-success btn-sm"
          routerLink="/auth/signin">Login</a>
        <a
          class="btn btn-outline-success btn-sm"
          routerLink="/auth/signup">Register</a>
      </div>
      <button
        class="btn btn-outline-success btn-sm"
        *ngIf="isLoggedIn | async"
        (click)="onLogout()">Logout</button>
    </div>
  </div>
</nav>
<app-flash-message></app-flash-message>
