<mat-toolbar color='primary'>
  <a mat-button class="brand" routerLink="/">Book Store</a>
  <a mat-button routerLink="/books">Books</a>
  <a mat-button routerLink="/users">Users</a>
  <div class="separator"></div>
  <div *ngIf="!(isLoggedIn | async)">
    <a mat-raised-button routerLink="/auth/sign-in" color="accent">Login</a>
    <a mat-raised-button routerLink="/auth/sign-up" color="accent">Register</a>
  </div>
  <button mat-raised-button color="accent" *ngIf="isLoggedIn | async" (click)="onLogout()">Logout</button>
</mat-toolbar>
<app-flash-message></app-flash-message>
